<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body style="padding: 50px">

    <div id="app">
        <div class="mb-4" v-for="(item, index) in comments" :key="index">
            <p class="mb-0">{{ item.content }} | {{ item.created_at }} | score {{ item.result }} </p>
            <button class="btn btn-xs btn-success font-weight-bold" v-on:click="addVote(index)">+</button>
            <button class="btn btn-xs btn-danger font-weight-bold" v-on:click="removeVote(index)">-</button>
        </div>
        <textarea class="form-control" v-model="comment" v-on:keyup.enter="addComment"></textarea>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
  </body>
</html>
