<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body style="padding: 50px">
    <div id="app">
      <input type="text" v-model="name" />
          <button v-if="action.action == 'store'" class="btn btn-success btn-sm" v-on:click="store">{{action.action}}</button>
        <button v-else="action.action != 'store'" class="btn btn-warning btn-sm" v-on:click="update(action.id)">{{action.action}}</button>
      <ul>
        <li class="m-1" v-for="(user, index) in users">
            {{user.name}}
            <button class="btn btn-warning btn-sm" v-on:click="edit(index)">edit</button>
            <button class="btn btn-danger btn-sm" v-on:click="hapus(index)">hapus</button>
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="quiz.js"></script>
  </body>
</html>
